* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #264653;
  color: #fff;
}
.content {
  margin-left: 20px;
}
.form {
  margin-top: 30px;
}
.grupo-inf {
  margin-top: 40px;
}
.dados-basicos {
  display: flex;
}
.ativo {
  flex-basis: 20%;
}
.tabela {
  margin-top: 15px;
}
.rotulo {
  font-weight: bold;
}
/* estilo para futuro componente menu */
.barra-nav {
  display: flex;
  justify-content: space-between;
}
.titulo-tela {
  font-size: 2em;
}
nav > ul {
  list-style: none;
}
nav > ul > li {
  display: inline;
}
a {
  color: aqua;
}
a:hover {
  color: yellow;
  font-size: 22px;
}
a::after {
  color: tomato;
}

.menu {
}
